{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
  

  
  <section class="probootstrap-slider flexslider2 page-inner">
    <div class="overlay"></div>
    <div class="probootstrap-wrap-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8">

              <div class="page-title probootstrap-animate">
                  <div class="probootstrap-breadcrumbs">
                    <a href="#">Home</a><span><a href="{% url 'property:property_list' %}"> Properties </a></span>{{property_detail}}
                  </div>
                  <h1>{{property_detail}}</h1>
                </div>

          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url(img/slider_1.jpg);"></li>
      <li style="background-image: url(img/slider_4.jpg);"></li>
      <li style="background-image: url(img/slider_2.jpg);"></li>
    </ul>
  </section>
  <!-- END: slider  -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p><img src="{{property_detail.image.url}}" class="img-responsive" alt="Free Bootstrap Template by uicookies.com"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Details</h2>

          <p>Type : {{property_detail.property_type}}</p>
          <p>Area : {{property_detail.area}} m2</p>
          <p>Beds : {{property_detail.beds_number}}</p>
          <p>Baths : {{property_detail.baths_number}}</p>
          <p>Garages : {{property_detail.garages_number}}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Reserve This Property</h2>
              <form action="" method="POST">
                {% csrf_token %}
                  {% bootstrap_form reserve_form %}
                  {% buttons %}
                      <button type="submit" class="btn btn-primary">Reserve</button>
                  {% endbuttons %}
              </form>
          </div>
        </div>
      </div>
    </section>


  {% endblock body %}
